html,body{
	margin: 0;
	padding: 0;
	overflow: auto;
	scroll-behavior: smooth;
}
.jumbotron-header {
	background: url("m.jpg")center fixed;
	background-size: cover;
	height: auto;
	border-radius: 0;
	} 
.navFix {
	position:fixed;
	top:0;
	background:transparent;
	width:100%;
	height:50px;
} 
.black {
	position:fixed;
	top:0;
	background:rgb(0,0,0);
	width:100%;
	height:50px;
	opacity: 0,5;
} 
.navFix{
background-color: black;
height: auto;
} 
.navbar-hamburger {
	font-size:25px;
	font-weight:600;
	color:white;
	text-transform:uppercase;
	padding-left:10px;
}
.navbar-hamburger:hover{
	text-decoration:none;
	color:white;
} 
.a-link{
	color: white;
	font-size: 15px;
	line-height: 2.278;
}
.nav-link:hover {
	color:white;
}
.text-h1{
	font-size:30px;
	color:rgb(34,34,34);
	line-height:1.25;
	text-align:center;
	margin: 0 50px;
}
.first-part{	
	margin-top:5vw;
	margin-bottom:10vw;
	margin-left:3vw;
	margin-right:3vw
	background:white;
	background-size: 100% 100%;
	padding: 20px;
}
.text-opis{
    font-size:18px;
	color:black;
	line-height:1.333;
	text-align:justify;
	max-width:555px;
	padding: 20px;
	margin-right: 20px;
}
.home{
    background:rgba(255,255,255,0.7);
	border-radius: 10px;
	height: auto;
	width: 100%;
}
.k1{
	width: 200px;
	height: 200px;
	position: right;
	margin:100px 50px;
	border-radius: 10px;
}
span{
	color: red;
	font-weight: bold;
}
.button {
	color: black;
	border: 2px solid grey;
	border-radius: 0;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
  } 
.button:hover {
	color: blue;
	background-color: lightblue;
	text-decoration: none;
  } 
.btn {
	text-decoration:none;
}
#blok{
	background-color: white;
	height: auto;
	text-align: center;
	margin: 70px 0;
	box-shadow: 0px 3px 10px #e6f2ff;
}
#text-1{
	color: black;
	font-weight: bold;
	text-align: center;
}
.second-part{
	background: rgba(255,255,255,0.7);
	 border-radius:10px;
	 padding:30px;
     text-align:justify;
     line-height: 25px;
}
.linija1{
	height: 2px;
	background-color: red;
}
.third-part{
	 background:#ff8080;
	 padding:30px;
     line-height: 20px;
     margin:50px 0px;
     border-radius: 10px;
}
.linija{
	background-color: red;
	height: 3px;
	width: 70%;
}
.blok1{
	padding:30px;
	background:white;
	border-radius:10px;
	line-height: 25px;
	margin: 10px 0px;
}
.fourth-part{
    padding:30px;
	background:white;
	border-radius:10px;
	line-height: 25px;
	margin:50px 0px;
	text-align: justify;
	background-size: 100% 100%;
}
.k2{
	width: 600px;
	height: 600px;
	margin: 10px 70px;
}
.tekst{
	color: black;
	text-align: center;
}
.tekst2{
	color: black;
}
.fifth-part{
	text-align: center;
}
.kolone{
	color: black;
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
	margin: 20px 0;
}
.kolone2{
	color: red;
	font-weight: bold;
	font-size: 30px;
	background-color: rgba(255,255,255,0.5);
	margin: 20px 0;
}
.text-h2{
	color: white;
	font-weight: bold;
	text-align: center;
}
.izvor{
	text-align: center;
	margin: 40px 0;
	color: white;
}
.kolone3{
	color: black;
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
	margin: 20px 0;
}
.kolone4{
	color: red;
	font-weight: bold;
	font-size: 30px;
	background-color: rgba(255,255,255,0.5);
	margin: 20px 0;
}
.broj{
	width: 20px;
	height: 20px;
}
#linija2{
	color: white;
	height: 2px;
}
.dno{
	background: black;
	height: auto;
	padding: 20px;
	margin-top: 70px;
	border-radius: 10px;
}
.dno1{
	text-align: center;
	color: white;
}
.dno2{
	font-size: 40px;
	color: red;
	text-align: center;
	padding: 30px;
	font-weight: bold;
}
.fb-share-button{
	margin-right:100px;
	font-size:15px;
}
